@media screen and (min-width: 768px) {
  body {
    --section-width-px: 1280;
  }


  /* NAVBAR */
  .navbar.navbar1 {
    --bs-navbar-nav-link-padding-x: calc((24 / 1280) * 100vw);
    margin-top: calc((44 / 1440) * 100%);
  }


  /* ANIMATIONS */


  /* COMPONENTS */
  .section {
    margin: 80px 0 60px;
    padding: 0 80px;
    margin-top: min(80px, calc((80 / 1440) * 100%));
    margin-bottom: min(60px, calc((80 / 1440) * 100%));
    padding: 0 min(80px, calc((80 / 1440) * 100%));
    font-size: 16px;
  }

    .section-title {
      margin-bottom: 40px;
      font-size: 22px;
    }

    .sec-subtitle {
      font-size: 20px;
    }

    .sec-column {
      width: calc((600 / var(--section-width-px)) * 100%);
    }


  /* DOMS LAYOUT */
  #sec-top .copyright {
    font-size: min(14px, calc((14 / 1440) * 100vw));
  }


  #sec-secondary .sec-video {
    height: calc((615 / 1440) * 100vw);
  }


  /* #sec-abount */
    #sec-about .bg-img {
      background-image: url("../assets/img-about-no1.jpg");
      padding-top: calc((1100 / 600) * 100%);
    }
    #sec-about .sec-subtitle.no1 {
      margin-bottom: calc(28px + 2px);
    }
        #sec-about .sec-subtitle.no1 > span {
          padding-top: 45px;
          padding-left: 48px;
        }
    #sec-about .sec-column.no2 {
      margin-top: 0px;
    }
    #sec-about .sec-subtitle.no2 {
      margin-top: 50px;
      margin-bottom: calc(32px + 14px);
    }


  /* #sec-contact */
    #sec-contact .sec-subtitle {
      line-height: 1.795;
    }
    #sec-contact .sec-subtitle.no1 {
      margin-top: 51px;
    }

    #sec-contact .sec-content {
      font-size: 24px;
      font-weight: 700;
    }

    #sec-contact .sec-content,
    #sec-contact .sec-subtitle.no2 {
      margin-top: 60px;
    }


    #sec-contact .icon-fb,
    #sec-contact .icon-ig,
    #sec-contact .icon-yt {
      width: 54px;
      padding-top: 54px;
    }


  /* #sec-footer */
    #sec-footer {
      margin-top: 120px;
      margin-bottom: 60px;
    }
      #sec-footer .copyright {
        font-size: 16px;
        font-weight: 700;
      }
      #sec-footer hr {
        width: auto;
        margin: 1rem 40px;
      }
      #sec-footer .img-wrap {
        width: 168px;
      }
}


@media screen and (min-width: 1440px) {
  .navbar.navbar1 {
    --bs-navbar-nav-link-padding-x: calc((36 / 1440) * 100vw);
  }
}
